.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.Title {
  padding-left: 30%;
  color:cadetblue;
}
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
.App-header {
  background-color: #e4e4e4;
  min-height: 3vh;
  max-height: 5vh;
  display: flex;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 2%;
  padding-right: 2%;
  flex-direction: row;
  align-items: center;
  /* flex-direction: column;
  align-items: center;*/
  /* justify-content: flex-start;  */
  justify-content: space-between;
  font-size: 3vh;
  color: white;
}
.No {
  padding: 0;
  margin: 0;
  font-size: 1vh;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Open-menu{
  display: flex;
  padding: 1%;
  margin: 0%;
  background-color:beige;
  align-items: center;
  justify-content: center;
}

.App-footer{
  background-color: #e4e4e4;
  min-height: 3vh;
  max-height: 5vh;
  display: flex;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 2%;
  padding-right: 2%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.App-body{
  min-height: 88vh;
  max-height: 88vh;
  display: block;
  position: relative;
}
.App-shelf{
  float: right;
}
.App-cat{
  position: absolute;
}
.Update-list{
  float: top;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 3em;
}